<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">

        <div class="h-main-header">
            <h1>
                添加支付方式
            </h1>
        </div>

        <form class="form-ajax" method="post" action="/admin/dictionary.payment/doCreate">
            <table class="table-form">
                <tbody>
                    <tr>
                        <td width="15%">支付方式</td>
                        <td width="70%">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="row[title]" value="" class="form-control" data-tip="支付方式">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </td>
                        <td width="15%">必填</td>
                    </tr>
                    <tr>
                        <td width="15%">状态</td>
                        <td width="70%">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <select name="row[status]" class="form-control">
                                        <option value="normal">显示</option>
                                        <option value="hidden">隐藏</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </td>
                        <td width="15%"></td>
                    </tr>
                    <tr>
                        <td width="15%">排序</td>
                        <td width="70%">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <input type="text" name="row[weigh]" value="" class="form-control" data-tip="分类排序">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </td>
                        <td width="15%"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="redirect" value="{$_SERVER['HTTP_REFERER']}">
                            <button type="submit" class="submit">立即添加</button>
                            <button type="reset" class="reset">重置</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>
