<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
    <style>
        .border-right {
            border-right: 1px solid #dedede;
        }
    </style>
</head>

<body class="no-skin">
{include file="common/nav"}

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    {include file="common/sidebar"}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">订单管理</a>
                    </li>
                    <li>
                        <a href="#">租赁订单</a>
                    </li>
                    <li class="active">租赁下单</li>
                </ul>
            </div>

            <div class="page-content">
                {include file="common/setting"}
                <form class="form-ajax" method="post" action="admin.php?s=rent/doCreate">
                <div class="row">
                    <div class="col-xs-6 border-right">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    基本信息
                                </a>
                            </li>
                        </ul>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td width="15%" class="red">订单编号</td>
                                <td width="35%">
                                    <input type="text" name="row[realname]" value="" class="form-control" data-tip="客户姓名">
                                </td>
                                <td width="15%" class="red">下单门店</td>
                                <td width="35%">
                                    <input type="text" name="row[realname]" value="" class="form-control" data-tip="客户姓名">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">男宾姓名</td>
                                <td width="35%">
                                    <input type="text" name="row[realname]" value="" class="form-control" data-tip="客户姓名">
                                </td>
                                <td width="15%" class="red">女宾姓名</td>
                                <td width="35%">
                                    <input type="text" name="row[realname]" value="" class="form-control" data-tip="客户姓名">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">男宾手机</td>
                                <td width="35%">
                                    <input type="text" name="row[mobile]" value="" class="form-control" data-tip="手机号">
                                </td>
                                <td width="15%" class="red">女宾手机</td>
                                <td width="35%">
                                    <input type="text" name="row[mobile]" value="" class="form-control" data-tip="手机号">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">结婚日期</td>
                                <td colspan="3">
                                    <input type="text" name="row[rent_date]" value="" class="form-control date" data-tip="手机号">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">联系地址</td>
                                <td colspan="3">
                                    <input type="text" name="row[rent_date]" value="" class="form-control date" data-tip="手机号">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">取件日期</td>
                                <td width="35%">
                                    <input type="text" name="row[rent_date]" value="" class="form-control date" data-tip="手机号">
                                </td>
                                <td width="15%" class="red">还件日期</td>
                                <td width="35%">
                                    <input type="text" name="row[back_date]" value="" class="form-control date" data-tip="手机号">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">
                                <i class="green ace-icon fa fa-gift bigger-120"></i>
                                付款信息
                            </a>
                        </li>
                    </ul>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="15%" class="red">支付方式</td>
                                <td width="35%">
                                    <select name="row[payment_id]" class="form-control" data-tip="手机号">
                                        <option value="">--选择支付方式--</option>
                                        {foreach name="payments" item="value"}
                                        <option value="{$value.id}">{$value.title}</option>
                                        {/foreach}
                                    </select>
                                </td>
                                <td width="15%" class="red">支付类型</td>
                                <td width="35%">
                                    <select name="row[pay_type]" class="form-control" data-tip="手机号">
                                        <option value="">--选择支付类型--</option>
                                        <option value="full">全款</option>
                                        <option value="earnest">定金</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">订单总金额</td>
                                <td width="35%">
                                    <input type="text" name="row[totals]" value="" class="form-control" data-tip="订单总金额">
                                </td>
                                <td width="15%" class="red">支付金额</td>
                                <td width="35%">
                                    <input type="text" name="row[pay_money]" value="" class="form-control" data-tip="支付金额">
                                </td>
                            </tr>
                            <tr>
                                <td width="15%" class="red">备注信息</td>
                                <td width="35%">
                                    <textarea name="row[remark]" class="form-control"></textarea>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="hidden" name="redirect" value="{$_SERVER['HTTP_REFERER']}">
                                        <button type="submit" class="btn btn-sm btn-danger">立即添加</button>
                                        <button type="reset" class="btn btn-sm btn-default">重置</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    <select id="goods-type" class="form-control">
                                        <option value="goods">礼服</option>
                                        <option value="package">套餐</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="keyword" class="form-control" placeholder="商品唯一码" data-tip="商品唯一码">
                                </td>
                                <td width="15%">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-success fetch-goods" data-action="/admin.php?s=Ajax/readSource">新增产品</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-xs-12 select-goods-list">

                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
{include file="common/script"}
{include file="common/table"}
<script src="/assets/source/dress.js"></script>
<script src="/assets/source/package.js"></script>
<script>
    $(function(){
        $("#keyword").autocomplete({
            source: dress
        });

        $("#goods-type").change(function () {
            var current = $(this).val();
            if(current != 'goods') {
                $("#keyword").autocomplete({
                    source: package
                });
            } else {
                $("#keyword").autocomplete({
                    source: dress
                });

            }
        });

        $(".fetch-goods").click(function(){
            var url = $(this).attr("data-action");
            var type = $("#goods-type").val();
            var keyword = $("#keyword").val();

            if(keyword == '') {
                alert('请输入商品编码');
                return false;
            }

            var data = {
                type : type,
                keyword : keyword
            };
            
            $.post(url, data, function (res) {
                if(res !== '') {
                    $(".select-goods-list").append(res);
                } else {
                    alert('未找到该商品');
                }
            })
        });

        $(document).on('click', ".btn-delete-media", function () {
            $(this).parents('.search-media').remove();
        })
    });
</script>
</body>
</html>
