<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
    <style>
        .border-right {
            border-right: 1px solid #dedede;
        }
        .table-none {
            width: 100%;
        }
        .pecent-50{
            width: 50%;
        }
        .table-none,.table-none tr,.table-none trtd{
            border:none;
        }
        .table-none tr td {
            vertical-align: bottom;
            height: 44px;
        }
        .table-none td.border-bottom{
            border-bottom: 1px solid #000;
        }
        .col-xs-6.no-padding-left{
            padding-left:0;
        }
        .col-xs-6.no-padding-right{
            padding-right:0;
        }
    </style>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="" alt="log">
                    </div>
                    <div class="col-xs-6">
                        <table class="table-none">
                            <tr>
                                <td class="pecent-50">Order Date (订单日期)</td>
                                <td class="border-bottom pecent-50"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">Wedding Date (结婚日期)</td>
                                <td class="border-bottom pecent-50"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">Consulant (顾问)</td>
                                <td class="border-bottom pecent-50"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table-none">
                            <tr>
                                <td class="pecent-50">Groom's Name 新郎姓名</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">Bride Name 新娘姓名</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">Address (地址)</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table-none">
                            <tr>
                                <td class="pecent-50">Mobile Phone (移动电话)</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">Mobile Phone (移动电话)</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                            <tr>
                                <td class="pecent-50">WeChat (微信)</td>
                                <td class="pecent-50 border-bottom"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="height: 15px;"></div>
                <div class="row">
                    <div class="col-xs-6 no-padding-right">
                        <table class="table table-bordered">
                            <tr>
                                <td>Description(产品说明)</td>
                                <td>Total(总价)</td>
                            </tr>
                        </table>

                        <table class="table table-bordered">
                            <tr>
                                <td>付款方式</td>
                                <td>日期</td>
                                <td>付款金额</td>
                                <td>收款人</td>
                                <td>收银</td>
                            </tr>
                            <tr>
                                <td>定金</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>余额</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">西服取衣日</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="2">婚纱取衣日</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="2">婚纱还衣日</td>
                                <td colspan="3"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <table class="table table-bordered">
                            <tr>
                                <td>尺寸</td>
                                <td>新娘</td>
                                <td>伴娘</td>
                                <td>伴娘</td>
                                <td>伴娘</td>
                            </tr>
                            <tr>
                                <td>胸围</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>腰围</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>臂围</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>前身长</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>裙长</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>身高</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>鞋高</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                        <div class="row">
                            <div class="col-xs-12">
                                备注:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table-none">
                                    <tr>
                                        <td>注意事项:</td>
                                    </tr>
                                    <tr>
                                        <td>1: 客户租赁或定制婚纱礼服套系需一次性付清套系金额, 其中租赁婚纱礼服套系金额的30%为定金,定制婚纱礼服或男士礼服金额的70%为定金(如有违约金将不予退还)。</td>
                                    </tr>
                                    <tr>
                                        <td>2: 客户租赁婚纱礼服的期限为三天, 逾期将按日收取套系金额的10%为租金</td>
                                    </tr>
                                    <tr>
                                        <td>3: 婚纱礼服取件日上海顾客婚礼前1-2天,外地顾客婚礼前5天,不能自取需快递会在婚期前1-2天收到快件(快递费由顾客承担统一顺丰快递)</td>
                                    </tr>
                                    <tr>
                                        <td>4: 客户租赁婚纱礼服取件时将按每件收取押金10000-50000元,押金仅限支付宝或现金。</td>
                                    </tr>
                                    <tr>
                                        <td>5: 客户在消费时如有疑问,请向服务人员咨询。</td>
                                    </tr>
                                    <tr>
                                        <td>6: 最终解释权归奥利维亚婚纱馆所有</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                客户签名
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/script"}
{include file="common/table"}
</body>
</html>
