.sm-st {
  display: flex;
  position: relative;
  background: #fff;
  padding: 20px;
  padding-bottom: 42px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
}

.sm-st img {
  height: 82px;
  display: inline-block;
  margin-top: -16px;
}

.sm-st a.more {
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  left: 0px;
  bottom: 0;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.sm-st a.more::after{
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url('http://qiniu.reactphp.club/more.png') no-repeat;
  background-size: cover;
  z-index: 100;
}

.sm-st-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  float: left;
}

.sm-st-info {
  flex: 1;
  font-size: 12px;
  padding-top: 2px;
  color: #fff;
  text-align: right;
}
.sm-st-info dt {
  font-size: 16px;
  padding-bottom: 12px;
}
.sm-st-info dd {
  font-size: 14px;
}

.orange {
  background: #fa8564 !important;
}

.tar {
  background: #45cf95 !important;
}

.sm-st .green {
  background: #86ba41 !important;
}

.pink {
  background: #AC75F0 !important;
}

.yellow-b {
  background: #fdd752 !important;
}

.stat-elem {

  background-color: #fff;
  padding: 18px;
  border-radius: 40px;

}

.stat-info {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin-top: -5px;
  padding: 8px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  font-style: italic;
}

.stat-icon {
  text-align: center;
  margin-bottom: 5px;
}

.count-try-dress{
  background-color: #3498dc;
}

.st-red {
  background-color: #F05050;
}

.st-green {
  background-color: #27C24C;
}

.count-rent-fetch{
  background-color: #568ebf;
}

.st-violet {
  background-color: #7266ba;
}

.count-rent-return{
  background-color: #e45a5a;
}

.st-blue {
  background-color: #23b7e5;
}

.count-sale-fetch {
  background-color: #45b7af;
}

.stats .stat-icon {
  color: #28bb9c;
  display: inline-block;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  float: left;
}

.stat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

.stat .value {
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.stat .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat.lg .value {
  font-size: 26px;
  line-height: 28px;
}

.stat.lg .name {
  font-size: 16px;
}

.stat-col .progress {
  height: 2px;
}

.stat-col .progress-bar {
  line-height: 2px;
  height: 2px;
}

.item {
  padding: 30px 0;
}

.row.row-sm.stats-container .col-xs-6 {
  padding: 21px 12px;
}