*{
	padding:0;
	margin:0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.v-header{
	flex: 0 75px;
	display: flex;
}
.v-header .logo {
	flex: 0 230px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 0;
}
.v-header .logo img {
	width: 100%;
	vertical-align: middle;
}
.v-header .top-menu{
	flex: 1;
	height: 100%;
}
.v-header .top-menu .top-menu-item{
	position: relative;
	display: flex;
	float: right;
	height: 100%;
	padding:0 20px;
	text-align: center;
	align-items: center;
	align-content: center;
}
.v-header .top-menu .top-menu-item .user-options{
	display: flex;
	align-items: center;
	align-content: center;
	padding-right: 42px;
}

.v-header .top-menu .top-menu-item.user-options-box::after{
	content: " ";
	position: absolute;
	width: 18px;
	height: 9px;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
	background: url('/static/images/triangle-down.png') no-repeat;
}

.v-header .top-menu .top-menu-item.user-options-box:hover::after{
	background: url('/static/images/triangle-up.png') no-repeat;
}

.v-header .top-menu .top-menu-item.user-options-box .user-options-list{
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 75px;
}
.v-header .top-menu .top-menu-item.user-options-box:hover .user-options-list{
	display: block;
}
.v-header .top-menu .top-menu-item.user-options-box .user-options-list li {
	width: 100%;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	background-color: #727272;
	border-bottom: 1px solid #1d1d1d;
}
.v-header .top-menu .top-menu-item.user-options-box .user-options-list li:last-child{
	border-bottom: none;
}
.v-header .top-menu .top-menu-item.user-options-box .user-options-list li a {
	color: #fff;
}

.v-header .top-menu .top-menu-item .avatar{
	border: 2px solid #8ce3ff;
	border-radius: 24px;
}
.v-header .top-menu .top-menu-item dl{
	flex: 1;
}
.v-header .top-menu .top-menu-item .user-options dl{
	padding-left: 12px;
}
.v-header .top-menu .top-menu-item dl dd {
	white-space: nowrap;
}
/*****************flex start **************************/
.flex{
	display: flex;
}
.flex .flex-left,
.flex .flex-right{
	flex: 1;
}

/**************** flex end **************************/

/***************** *************************/
.v-brumbs{
	flex: 0 44px;
	display: flex;
}

.v-brumbs .h-brumbs-left{
	flex: 0 230px;
}

.v-brumbs .h-brumbs-right{
	flex: 1;
}

.v-brumbs .h-brumbs-right ul{
	padding: 0 40px;
}

.v-brumbs .h-brumbs-right ul li{
	position: relative;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	padding: 0 20px 0 8px;
}

.v-brumbs .h-brumbs-right ul li a {
	color: #fff;
}

.v-brumbs .h-brumbs-right ul li a.home{
	color: #8ce3ff;
}

.v-brumbs .h-brumbs-right ul li::after {
	content: ">";
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
}

.v-brumbs .h-brumbs-right ul li:last-child::after{
	content: '';
}

/************* v-container ******************/
.v-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
.v-container .h-left-side {
	flex: 0 230px;
	overflow: auto;
}

.v-container .h-left-side ul,
.v-container .h-left-side ul > li {
	list-style: none;
}
.v-container .h-left-side ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0 16px;
}
.v-container .h-left-side ul li a.dropdown,
.v-container .h-left-side ul li a.dropdown-toggle {
	position: relative;
	display: block;
	height: 82px;
	line-height: 82px;
	font-size: 16px;
}

.v-container .h-left-side ul li.active a.dropdown-toggle::after{
	content: " ";
	position: absolute;
	right: 42px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 6px;
	background: url('/static/images/down.png');
	z-index: 100;
}

.v-container .h-left-side ul li ul.submenu{
	display: none;
}

.v-container .h-left-side ul li.active ul.submenu{
	display: block;
}

.v-container .h-left-side ul li.active ul.submenu li{
	height: 44px;
	line-height: 44px;
	background-color: #727272;
	border-bottom: 1px solid #1d1d1d;
}

.v-container .h-left-side ul li.active ul.submenu li:last-child{
	border-bottom: none;
}


.form-flex-right .order-goods-box::-webkit-scrollbar,
.form-flex-right .order-payment-box::-webkit-scrollbar,
.v-container .h-left-side::-webkit-scrollbar,
.v-container .h-main.with-scroll::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

.form-flex-right .order-goods-box::-webkit-scrollbar-thumb,
.form-flex-right .order-payment-box::-webkit-scrollbar-thumb,
.v-container .h-left-side::-webkit-scrollbar-thumb,
.v-container .h-main.with-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.form-flex-right .order-goods-box::-webkit-scrollbar-track,
.form-flex-right .order-payment-box::-webkit-scrollbar-track,
.v-container .h-left-side::-webkit-scrollbar-track,
.v-container .h-main.with-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
}


.v-container .h-main{
	flex: 1;
	padding: 20px 40px;
	background-color: #000;
}

.v-container .h-main.with-scroll{
	overflow-y: auto;
}

/********* h-main start *********/
.h-main .h-main-header h1{
	font-size: 28px;
	color: #8ce3ff;
	margin-bottom: 32px;
}
.h-main .h-main-header h1 small a {
	color: #8ce3ff;
}
/********* h-main end *********/

/********* common start *********/
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
/********* common end *********/

/********* table-list start *********/
.table-list{
	width: 100%;
	color: #fff;
	font-size: 12px;
	border-collapse: separate;
    border-spacing: 2px;
}
.table-list thead tr td,
.table-list thead tr th{
	height: 45px;
	padding: 0 12px;
	background-color: #393939;
}
.table-list tbody tr th,
.table-list tbody tr td{
	padding: 5px 12px;
	background-color: #1d1d1d;
}
.table-list tbody tr td a {
	color: #fff;
}

.table-list tr td img {
	text-align: center;
	max-height: 100px;
}
/********* table-list end *********/

/********* form-flex start **********/
.form-flex {
	display: flex;
	height: 100%;
}
.form-flex-left,
.form-flex-right{
	flex: 1;
}
.form-flex-left {
	padding-right: 28px;
}
.form-flex-right{
	padding-left: 28px;
}
.form-flex-right.order-rent-right{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.form-flex-right .order-goods-box{
	flex: 0 70%;
	overflow-y: auto;
	overflow-x: hidden;
}
.form-flex-right .order-payment-box{
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
/********* form-flex end **********/

/********* table-form start *********/
.table-header{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 20px;
	color: #fff;
	background-color: #393939;
}
.table-form {
	width: 100%;
	color: #fff;
}
.table-form tbody tr:nth-child(odd){
	background-color: #1d1d1d;
}
.table-form tbody tr th,
.table-form tbody tr td{
	padding: 8px 12px;
}

.table-form input {
	width: 100%;
	height: 34px;
	line-height: 34px;
	padding-left: 12px;
	font-size: 14px;
	color: #fff;
	background-color: #727272!important;
	border:none;
	outline: none;
}
.table-form .upload-box{
	display: flex;
}
.table-form input.form-control-images{
	flex: 0 80%;
}
.table-form .btn.upload{
	flex: 1;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
}

.table-form .images-box img{ 
	max-height: 100px;
}

.table-form textarea{
	color: #fff;
	margin: 8px 0;
	border:none;
	background-color: #727272;
}

.table-form textarea:focus,
.table-form input:focus{
	border: none;
	outline: none;
}
.table-form select{
	width: 100%;
	height: 34px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0px;
	font-size: 14px;
	color: #fff;
	background-color: #727272;
}
.table-form textarea{
	width: 100%;
	min-height: 88px;
}
.table-form .submit{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 6px;
	color: #fff;
	background-color: #549166;
	border: none;
	padding: 0 20px;
	margin: 12px 0;
	border: none;
	outline: none;
	font-size: 14px;
}
.table-form .reset{
	display: inline-block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 6px;
	color: #fff;
	background-color: #549166;
	border: none;
	padding: 0 20px;
	margin: 12px 0;
	border: none;
	outline: none;
	font-size: 14px;
}
/********* table-form end *********/

/********** form-inline start **************/
.h-form-inline{
	display: flex;
	font-size: 14px;
}
.h-form-inline .h-form-group label{
	padding: 0 12px;
	color: #fff;
}
.h-form-inline .h-form-group:first-child label{
	padding-left: 0;
}
.h-form-inline .h-form-group input{
	height: 30px;
	line-height: 33px;
	padding-left: 12px;
	border: none;
}
.h-form-inline .h-form-group input:focus{
	outline: none;
	border: none;
}
.h-form-inline .btn{
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	background-color: #393939;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	letter-spacing: 5px;
	margin-left: 12px;
} 
.space-30{
	height: 30px;

}
/********** form-inline end **************/

/********** form-right-side start **********/
.form-right-side {
	position: relative;
	height: 100%;
	padding: 20px;
}
.form-right-side .submit{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 6px;
	color: #fff;
	background-color: #549166;
	border: none;
	padding: 0 20px;
	margin: 12px 0;
	border: none;
	outline: none;
	font-size: 14px;
}
/********** form-right-side end ************/

/********* btn start *********/
.btn-group{
	letter-spacing: -999px;
}
.btn{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	color: #c5c5c5;
	background-color: #393939;
	letter-spacing: 0;
	border-radius: 0!important;
}
.btn-group .btn{
	border-right: 2px solid #000;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #c5c5c5;
    text-decoration: none;
}
.btn-group .btn:last-child{
	border-right: none;
}
.fetch-goods{
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	background-color: #548291;
	border: none;
}
/********* btn end *********/

/********* media start *********/
.media{
	position: relative;
	display: flex;
	padding: 15px 18px;
	margin-top: 10px;
	border: 1px solid #1d1d1d;
}
.media .media-left {
	flex: 0 100px;
	height: 100px;
}
.media .media-left img{
	width: 100px;
	height: 100px;
}
.media .media-body {
	flex: 1;
	display: flex;
	width: auto;
}
.media .media-body .media-main {
	flex: 1;
	padding-left: 18px;
}
.media .media-body .media-main .media-heading a{
	font-size: 20px;
	color: #8ce3ff;
	padding-bottom: 8px;
}
.media .media-body .media-main .media-intro{
	font-size: 16px;
	color: #feffff;
}
.media .media-body .search-actions{
	display: flex;
	flex-direction: column;
}
.media .media-body .search-actions .price{
	flex: 1;
	font-size: 28px;
	color: #8ce3ff;
}
.media .media-body .search-actions .btn-delete-media{
	display: block;
	flex: 0 34px;
	line-height: 34px;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #549166;
}
/********* media end *********/

/********* tools start *********/
.important{
	color: red;
}
.space-20{
	height: 20px;
}
.space-30{
	height: 30px;
}
/********* tools end *********/