<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老师报名</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/teacher/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/teacher/css/teacher.css?{:rand(10000,1000000)}">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/layui/layui.all.js"></script>
    <link  href="/static/teacher/cropper/cropper.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cropperjs/dist/cropper.js" crossorigin="anonymous"></script>
    <script src="/static/teacher/cropper/jquery-cropper.js"></script>
    <script src="/static/teacher/js/teacher.js?{:rand(10000,1000000)}"></script>
</head>
<body>
<form class="form-register">
    <!--
    <div class="preview">
        <img class="avatar-logo" src="/static/teacher/img/logo.png"/>
        <img class="avatar-celebrate" src="/static/teacher/img/celebrate.png"/>
        <div class="avatar-bg"><img src="/static/teacher/img/bg.png"/></div>
        <img class="avatar-huizhang" src="/static/teacher/img/huizhang.png"/>
        <div class="avatar-box">
            <img src="/static/teacher/img/teacher.png"/>
        </div>
    </div>
    -->
    <div class="canvas-box">
        <div id="preview-box"></div>
        <canvas width="750" height="750" id="canvas" class="hide"></canvas>
    </div>

    <div class="form-group">
        <div id="upload" class="btn btn-default btn-upload" onclick="$('input[id=inputImage]').click();">上传照片</div>
        <input class="avatar-input hide" id="inputImage" name="file" type="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
    </div>

    <div class="form-group">
        <label for="name">输入姓名</label>
        <input type="text" class="form-control" id="name" placeholder="输入姓名">
    </div>
    <div class="form-group">
        <label for="position">输入岗位，如课程顾问老师</label>
        <input type="text" class="form-control" id="position" placeholder="输入岗位，如课程顾问老师">
    </div>
    <div class="form-group">
        <div id="preview" class="btn btn-success btn-register">预览</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-register">生成</button>
    </div>
</form>


<div class="modal fade in" id="avatar-modal" aria-hidden="false" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="img-container">
                    <img id="#image" src="/static/teacher/img/bg.png"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row avatar-btns">
                    <div class="btn-group">
                        <div class="btn btn-danger fa fa-undo" data-method="rotate" data-option="-90" title="向左旋转"></div>
                        <div class="btn btn-danger fa fa-repeat" data-method="rotate" data-option="90" title="向右旋转"></div>
                        <div class="btn btn-danger fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片"></div>
                        <div class="btn btn-danger fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片"></div>
                        <div class="btn btn-danger fa fa fa-upload" data-method="upload" title="重新上传"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button class="btn btn-danger btn-block avatar-save fa fa-save" type="button" data-dismiss="modal">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    var $image = $('#image');

    $image.cropper({
        // aspectRatio: 16 / 9,
        crop: function(event) {
            console.log(event.detail.x);
            console.log(event.detail.y);
            console.log(event.detail.width);
            console.log(event.detail.height);
            console.log(event.detail.rotate);
            console.log(event.detail.scaleX);
            console.log(event.detail.scaleY);
        }
    });

    var cropper = $image.data('cropper');
})
</script>
</body>
</html>