<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">

        <div class="h-main-header">
            <h1>
                部门管理
                <small>
                    <a class="fa fa-plus-square" href="/admin.php?s=department/create" title="添加部门"></a>
                </small>
            </h1>
        </div>

        <table class="table-list">
            <thead>
                <tr>
                    <th class="center" width="20">
                        <input type="checkbox" class="ace" />
                    </th>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>状态</th>
                    <th>排序</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach name="rows" item="row"}
                    <tr>
                        <td class="center">
                            <input type="checkbox" class="ace" />
                        </td>
                        <td>{$row.id}</td>
                        <td>{$row.title}</td>
                        <td>{$row.status=='normal'?'显示':'隐藏'}</td>
                        <td>{$row.weigh}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn" href="/admin.php?s=department/edit/id/{$row.id}">编辑</a>
                                <a class="btn btn-delete" href="javascript:void(0);" data-href="/admin.php?s=department/delete/id/{$row.id}">删除</a>
                            </div>
                        </td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
