<div class="v-header">
    <div class="logo">
        <img src="/static/images/logo.jpg" alt="log">
    </div>

    <div class="top-menu">

        <a href="">
            <dl>
                <dd class="en">Hello!</dd>
                <dd class="zh">管理员</dd>
            </dl>
        </a>

        <a href="">
            <dl>
                <dd class="en">DRESS IDLE</dd>
                <dd class="zh">礼服档期</dd>
            </dl>
        </a>

        <a href="">
            <dl>
                <dd class="en">DRESS SELL</dd>
                <dd class="zh">礼服出售</dd>
            </dl>
        </a>

        <a href="">
            <dl>
                <dd class="en">DRESS Rent</dd>
                <dd class="zh">礼服出租</dd>
            </dl>
        </a>

    </div>
</div>