.form-register {
    padding: 1rem;
}
.preview {
    position: relative;
    margin-bottom: 1rem;
}

.preview .avatar-bg {
    width: 100%;
}

.preview .avatar-bg img {
    width: 100%;
    height: 100%;
}

.preview .avatar-logo {
    position: absolute;
    left: 4.8%;
    top: 4.8%;
    z-index: 10;
    width: 31.3%;
}

.preview .avatar-celebrate {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 10;
    width: 29.3%;
}

.preview .avatar-huizhang{
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    width: 91%;
    transform: translateX(-50%);
}

.preview .avatar-box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border: 1rem solid #d5302b;
    border-radius: 50%;
    overflow: hidden;
}

.preview .avatar-box img{
    width: 100%;

}

.btn-upload {
    width: 100%;
}

.btn-register {
    width: 100%;
}

.btns .btn-group{
    width: 100%;
}

.canvas-box {
    margin: 0 auto;
}

#canvas {
    width: 100%;
}

#preview-box {
    width: 100%;
}

#preview-box img {
    width: 100%;
    height: auto;
}

#preview-box {
    width: 100%;
    margin-bottom: 20px;
}

#avatar-modal,
#avatar-modal .modal-dialog,
#avatar-modal .modal-dialog .modal-content{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}
#avatar-modal .modal-dialog .modal-content {
    display: flex;
    flex-direction: column;
}
#avatar-modal .modal-dialog .modal-content .modal-body{
    flex: 1;
    padding: 0;
    background-image: url('/static/teacher/img/cropper-bg.png');
    background-repeat: repeat;
}
.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img-container > img {
    max-width: 100%;
}