<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
        <div class="h-main-header">
            <h1>
                我的客资
            </h1>
        </div>

        <table class="table-list">
            <thead>
                <tr>
                    <th class="center" width="20">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="center">ID</th>
                    <th></th>
                    <th class="center">回访数</th>
                    <th class="center">回访状态</th>
                    <th class="center">客资来源</th>
                    <th class="center">客户姓名</th>
                    <th class="center">联系电话</th>
                    <th class="center">微信号</th>
                    <th class="center">性别</th>
                    <th class="center">创建时间</th>
                </tr>
            </thead>

            <tbody>
                {foreach name="rows" item="row"}
                    <tr>
                        <td class="center">
                            <input type="checkbox" class="ace" />
                        </td>
                        <td class="center">{$row.id}</td>
                        <td class="center">
                            <div class="btn-group">
                                <a class="btn layui-right-side" href="javascript:void(0);" data-action="/admin.php?s=visit/create/customer_id/{$row.id}" title="回访客资" data-width="30">回访</a>
                                <a class="btn" href="/admin.php?s=customer/edit/id/{$row.id}">编辑</a>
                                <a class="btn btn-delete" href="javascript:void(0);" data-href="/admin.php?s=customer/delete/id/{$row.id}">删除</a>
                            </div>
                        </td>
                        <td class="center">
                            <a class="underline layui-right-side" href="javascript:void(0);" data-action="/admin.php?s=visit/add/id/{$row.id}" title="回访历史">{$row.visit_times}</a>
                        </td>
                        <td class="center">{$row.status=='normal'?'未跟进':$row.status}</td>
                        <td class="center">{$sources[$row['source_id']]['title']}</td>
                        <td class="center">{$row.realname}</td>
                        <td class="center">{$row.mobile}</td>
                        <td class="center">{$row.mobile1}</td>
                        <td class="center">{$row.sex?'男':'女'}</td>
                        <td class="center">{$row.createtime}</td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
