<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <link rel="stylesheet" href="/static/css/info.css?{:rand(100,1000)}">
  {include file="common/meta"}

  <script>
    var Orderdata = {
        column: ["2020-03-03","2020-03-04","2020-03-05","2020-03-06","2020-03-07","2020-03-08","2020-03-09"],
        paydata: [28,3,2,10,70,10,69],
        createdata: [160,33,71,179,193,183,173],
    };
  </script>
  <script src="/static/js/echarts.min.js"></script>
  <script src="/static/js/echarts-dark.js"></script>
  <script src="/static/js/info.js"></script>
</head>

<body>
  {include file="common/v-header"}
  <div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
      <div class="h-main-header">
        <h1>控制台</h1>
        <div id="mine">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="sm-st clearfix count-try-dress">
                <img src="http://qiniu.reactphp.club/count-rent-try.png" alt="">
                <dl class="sm-st-info">
                  <dt>今日试衣量 100</span>
                  <dd>
                    <span>完成 0</span>
                    <span>新客资 0</span>
                  </dd>
                </dl>
                <a class="more">查看更多</a>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="sm-st clearfix count-rent-fetch">
                <img src="http://qiniu.reactphp.club/count-rent-fetch.png" alt="">
                <dl class="sm-st-info">
                  <dt>出租应取件 100</span>
                  <dd>
                    <span>已取件 0</span>
                    <span>新单 0</span>
                  </dd>
                </dl>
                <a class="more">查看更多</a>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="sm-st clearfix count-rent-return">
                <img src="http://qiniu.reactphp.club/count-rent-return.png" alt="">
                <dl class="sm-st-info">
                  <dt>出租应还件 100</span>
                  <dd>
                    <span>已还件 0</span>
                    <span>退押金量 0</span>
                  </dd>
                </dl>
                <a class="more">查看更多</a>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="sm-st clearfix count-sale-fetch">
                <img src="http://qiniu.reactphp.club/count-sale-fetch.png" alt="">
                <dl class="sm-st-info">
                  <dt>定制应取件 100</span>
                  <dd>
                    <span>已取件 0</span>
                    <span>新单 0</span>
                  </dd>
                </dl>
                <a class="more">查看更多</a>
              </div>
            </div>
          </div>

          <div class="space-20"></div>
          <div class="space-30"></div>

          <div class="row">
            <div class="col-lg-8">
              <div id="echart" style="height:300px;width:100%;"></div>
            </div>
            <div class="col-lg-4">
              <div class="card sameheight-item stats">
                <div class="card-block">
                  <div class="row row-sm stats-container">
                    <div class="col-xs-6 stat-col">
                      <div class="stat-icon"><i class="fa fa-user"></i></div>
                      <div class="stat">
                        <div class="value"> 430</div>
                        <div class="name"> 客资数</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6 stat-col">
                      <div class="stat-icon"><i class="fa fa-circle-o"></i></div>
                      <div class="stat">
                        <div class="value"> 430</div>
                        <div class="name"> 有效数</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6 stat-col">
                      <div class="stat-icon"><i class="fa fa-dollar"></i></div>
                      <div class="stat">
                        <div class="value"> 430</div>
                        <div class="name"> 实收金额</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6 stat-col">
                      <div class="stat-icon"><i class="fa fa-users"></i></div>
                      <div class="stat">
                        <div class="value"> 321</div>
                        <div class="name"> 订单数</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6  stat-col">
                      <div class="stat-icon"><i class="fa fa-credit-card"></i></div>
                      <div class="stat">
                        <div class="value"> 321</div>
                        <div class="name"> 订单实收</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6  stat-col">

                      <div class="stat-icon"><i class="fa fa-credit-card-alt"></i></div>
                      <div class="stat">
                        <div class="value"> 2324</div>
                        <div class="name"> 尾款实收</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6  stat-col">
                      <div class="stat-icon"><i class="fa fa-shopping-cart"></i></div>
                      <div class="stat">
                        <div class="value"> 132</div>
                        <div class="name"> 套系金额</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                      </div>
                    </div>
                    <div class="col-xs-6  stat-col">
                      <div class="stat-icon"><i class="fa fa-rocket"></i></div>
                      <div class="stat">
                        <div class="value"> 80%</div>
                        <div class="name"> 全款率</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>