<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    {include file="common/meta"}
</head>
<body>
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
      <div class="h-main-header">
        <h1>修改密码</h1>
      </div>
      <form class="form-ajax" method="post" action="admin.php?s=user/doRepassword">
        <table class="table-form">
          <tr>
            <td width="15%">原始密码</td>
            <td width="50%">
              <input type="password" name="oldpassword">
            </td>
            <td width="35%">必填</td>
          </tr>
          <tr>
            <td>新密码</td>
            <td>
              <input type="password" name="newpassword">
            </td>
            <td>必填,不能少于6位</td>
          </tr>
          <tr>
            <td>确认新密码</td>
            <td>
              <input type="password" name="repassword" >
            </td>
            <td>必填</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="hidden" name="redirect" value="{$_SERVER['HTTP_REFERER']}">
              <button type="submit" class="submit">保存</button>
              <button type="reset" class="reset">重置</button>
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>
</div>
</body>
</html>