<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">

        <div class="h-main-header">
            <h1>
                礼服列表
                <small>
                    <a class="ace-icon fa fa-plus" href="/admin.php?s=dress/create">添加</a>
                </small>
            </h1>
        </div>

        <table class="table-list">
            <thead>
                <tr>
                    <th class="center">
                        <input type="checkbox" class="all" />
                    </th>
                    <th class="center">ID</th>
                    <th>礼服分类</th>
                    <th>商品名称</th>
                    <th class="center">商品编号</th>
                    <th>商品图片</th>
                    <th class="center">租赁价格</th>
                    <th class="center">出售价格</th>
                    <th class="center">状态</th>
                    <th class="center">排序</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach name="rows" item="row"}
                <tr>
                    <td class="center">
                        <input type="checkbox" class="ace" />
                    </td>
                    <td class="center">{$row.id}</td>
                    <td>{$dressCategories[$row['category_id']]['title']}</td>
                    <td>{$row.title}</td>
                    <td class="center">{$row.sku}</td>
                    <td><img src="{$row.images}" alt="" class="titlepic"></td>
                    <td class="center">{$row.rent_price}</td>
                    <td class="center">{$row.sale_price}</td>
                    <td class="center">{$row.status=='normal' ? '空闲' : '租赁中'}</td>
                    <td class="center">{$row.weigh}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="/admin.php?s=dress/edit/id/{$row.id}">编辑</a>
                            <a class="btn">清洗</a>
                            <a class="btn">报废</a>
                            <a class="btn btn-delete" href="javascript:void(0);" data-href="/admin.php?s=dress/delete/id/{$row.id}">删除</a>
                            <a class="btn">二维码</a>
                        </div>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
