<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>礼服系统</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
    <style>
        .border-right {
            border-right: 1px solid #dedede;
        }
    </style>
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
        <form class="form-ajax form-flex" method="post" action="admin.php?s=rent/doCreate">
            <div class="form-flex-left">
                <div class="table-header">
                    基本信息
                </div>
                <table class="table-form">
                    <tbody>
                    <tr>
                        <td width="15%" class="red">订单编号</td>
                        <td width="35%">
                            <input type="text" name="row[order_no]" value="{$orderNo}" readonly class="form-control" data-tip="客户姓名">
                        </td>
                        <td width="15%" class="red">下单门店</td>
                        <td width="35%">
                            <select name="row[store_id]">
                                <option value="0">--请选择门店--</option>
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">男宾姓名</td>
                        <td width="35%">
                            <input type="text" name="row[groom]" value="" class="form-control" data-tip="客户姓名">
                        </td>
                        <td width="15%" class="red">女宾姓名</td>
                        <td width="35%">
                            <input type="text" name="row[bride]" value="" class="form-control" data-tip="客户姓名">
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">男宾手机</td>
                        <td width="35%">
                            <input type="number" name="row[groom_mobile]" value="" class="form-control" data-tip="手机号">
                        </td>
                        <td width="15%" class="red">女宾手机</td>
                        <td width="35%">
                            <input type="number" name="row[bride_mobile]" value="" class="form-control" data-tip="手机号">
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">结婚日期</td>
                        <td colspan="3">
                            <input type="text" name="row[marry_date]" value="" autocomplete="off" class="form-control date" data-tip="手机号">
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">联系地址</td>
                        <td colspan="3">
                            <input type="text" name="row[address]" value="" class="form-control" data-tip="手机号">
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">取件日期</td>
                        <td width="35%">
                            <input type="text" name="row[fetch_date]" value="" autocomplete="off" class="form-control date" data-tip="手机号">
                        </td>
                        <td width="15%" class="red">还件日期</td>
                        <td width="35%">
                            <input type="text" name="row[return_date]" value="" autocomplete="off" class="form-control date" data-tip="手机号">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-header">
                付款信息
            </div>
            <table class="table-form">
                <tbody>
                    <tr>
                        <td width="15%" class="red">支付方式</td>
                        <td width="35%">
                            <select name="row[payment_id]" class="form-control" data-tip="手机号">
                                <option value="">--选择支付方式--</option>
                                {foreach name="payments" item="value"}
                                <option value="{$value.id}">{$value.title}</option>
                                {/foreach}
                            </select>
                        </td>
                        <td width="15%" class="red">支付类型</td>
                        <td width="35%">
                            <select name="row[pay_type]" class="form-control" data-tip="手机号">
                                <option value="">--选择支付类型--</option>
                                <option value="full">全款</option>
                                <option value="earnest">定金</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">订单金额</td>
                        <td width="35%">
                            <input type="text" name="row[totals]" value="" class="form-control" data-tip="订单总金额">
                        </td>
                        <td width="15%" class="red">支付金额</td>
                        <td width="35%">
                            <input type="text" name="row[pay_money]" value="" class="form-control" data-tip="支付金额">
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" class="red">备注信息</td>
                        <td width="85%" colspan="3">
                            <textarea name="row[remark]" class="form-control"></textarea>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <input type="hidden" name="redirect" value="{$_SERVER['HTTP_REFERER']}">
                                <button type="submit" class="submit">立即添加</button>
                                <button type="reset" class="reset">重置</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="form-flex-right">
                <table class="table-form">
                    <tbody>
                    <tr>
                        <td>
                            <select id="goods-type" class="form-control">
                                <option value="goods">礼服</option>
                                <option value="package">套餐</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="keyword" class="form-control" placeholder="商品唯一码" data-tip="商品唯一码">
                        </td>
                        <td width="20%">
                            <a href="javascript:void(0);" class="btn fetch-goods" data-action="/admin.php?s=Ajax/readSource">新增产品</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="select-goods-list">

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $("#goods-type").change(function () {
            var current = $(this).val();
            if(current != 'goods') {
                $("#keyword").autocomplete({
                    source: package
                });
            } else {
                $("#keyword").autocomplete({
                    source: dress
                });

            }
        });

        $(".fetch-goods").click(function(){
            var url = $(this).attr("data-action");
            var type = $("#goods-type").val();
            var keyword = $("#keyword").val();

            if(keyword == '') {
                alert('请输入商品编码');
                return false;
            }

            var data = {
                type : type,
                keyword : keyword
            };
            
            $.post(url, data, function (res) {
                if(res !== '') {
                    $(".select-goods-list").append(res);
                } else {
                    alert('未找到该商品');
                }
            })
        });

        $(document).on('click', ".btn-delete-media", function () {
            if(!confirm('确定要删除该商品')) {
                return false;
            }
            var id = $("#id").val();
            if(id==undefined) {
                $(this).parents('.search-media').remove();
            } else {

            }
        })
    });
</script>
</body>
</html>
