<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>查看档期</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
    <link href='/static/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <script src='/static/fullcalendar/core/main.js'></script>
    <script src="/static/fullcalendar/core/locales-all.min.js"></script>
    <script src='/static/fullcalendar/daygrid/main.js'></script>
    <script src='/static/fullcalendar/interaction/main.js'></script>
    <script src="/static/js/schedule.js"></script>
    <script src="/static/js/calendar.js"></script>
    <script>
        var initDate = '{$initDate}';
        var startDate = '{$startDate}';
        var endDate = '{$endDate}';
    </script>
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
        <form method="get" class="h-form-inline" action="/admin.php?s=rent/schedule">
            <input type="hidden" name="s" value="rent/schedule">
            <div class="h-form-group">
                <label>礼服编号</label>
                <input type="text" placeholder="礼服编号" name="sku">
            </div>
            <div class="h-form-group">
                <label>租赁日期</label>
                <input type="text" name="date_range" class="date" placeholder="租赁日期">
            </div>
            <button type="submit" class="btn btn-mine">搜索</button>
        </form>
        <br>
        <br>
        <div class="flex">
            <div class="flex-left">
                <div id="calendar"></div>
            </div>
            <div class="flex-right padding20">
                {if !empty($data)} 
                    <table class="table-list font-white">
                        <tbody>
                            <tr>
                                <td width="15%">礼服名称:</td>
                                <td>{$dress.title}</td>
                            </tr>
                            <tr>
                                <td>礼服编号:</td>
                                <td>{$dress.sku}</td>
                            </tr>
                            <tr>
                                <td>礼服图片:</td>
                                <td>
                                    <img src="{$dress.images}" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td>租赁价格:</td>
                                <td>{$dress.rent_price}</td>
                            </tr>
                            <tr>
                                <td>描述</td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {else /}
                    <div class="no-tip">未找到该商品的订单</div>
                {/if}
            </div>
        </div>
    </div>
</div>
</body>
</html>
