<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>查看档期</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {include file="common/meta"}
</head>

<body class="no-skin">
{include file="common/v-header"}
<div class="v-container">
    {include file="common/h-left-side"}
    <div class="h-main">
        <form class="h-form-inline">
            <div class="h-form-group">
                <label>礼服编号</label>
                <input type="text" placeholder="礼服编号">
            </div>
            <div class="h-form-group">
                <label>租赁日期</label>
                <input type="text" placeholder="租赁日期">
            </div>
            <button type="submit" class="btn btn-mine">搜索</button>
        </form>

        <div class="flex">
            <div class="flex-left">

            </div>
            <div class="flex-right">

            </div>
        </div>
    </div>
</div>
</body>
</html>
